# Query Engines Test

In [1]:
import os
import sys
import pandas as pd

from utils import query_engines

q = query_engines.QueryEngines()

/Users/jordicremades/Documents/repos/thoth/src/tests/query_engines_test_2025/.venv/lib/python3.9/site-packages/urllib3/__init__.py:35: NotOpenSSLWarning: urllib3 v2 only supports OpenSSL 1.1.1+, currently the 'ssl' module is compiled with 'LibreSSL 2.8.3'. See: https://github.com/urllib3/urllib3/issues/3020
  warnings.warn(
Your browser has been opened to visit:

    https://accounts.google.com/o/oauth2/auth?response_type=code&client_id=764086051850-6qr4p6gpi6hn506pt8ejuq83di341hur.apps.googleusercontent.com&redirect_uri=http%3A%2F%2Flocalhost%3A8085%2F&scope=openid+https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fuserinfo.email+https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fcloud-platform+https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fsqlservice.login&state=f6NFGdFD2tQNR9tPz7ny86Y10Mo1PP&access_type=offline&code_challenge=wFx4J97WBPf4AuFjT0P0H86eOPleY9sGbs7XDYw1bJs&code_challenge_method=S256


Credentials saved to file: [/Users/jordicremades/.config/gcloud/application_default_credentials.json]

These credentials will be used by any library that requests Application Default Credentials (ADC).

Quota project "dhub-glovo" was added to ADC which can be used by Google client libraries for billing and quota. Note that some services may still bill the project owning the resource.

Credentials saved to file: [/Users/jordicremades/.config/gcloud/application_default_credentials.json]

These credentials will be used by any library that requests Application Default Credentials (ADC).

Quota project "dhub-glovo" was added to ADC which can be used by Google client libraries for billing and quota. Note that some services may still bill the project owning the resource.

In [2]:
QUERY_NAME = 'test.sql' # With sql
START_DATE = "'2025-01-01'"
END_DATE = "'2026-01-02'"

params = {
    'start_date': str(START_DATE),
    'end_date': str(END_DATE)
}

df = q.run_query_starburst(
    QUERY_NAME,
    params=params,
    csv_file=QUERY_NAME,
    load_csv_file=True
)

df.head()

  calendar_date
0    2025-01-01
1    2025-01-02
2    2025-01-03
3    2025-01-04
4    2025-01-05

In [3]:
TABLE = 'delta.central_geography_odp.cities_v2'

df = q.run_table_explorer_starburst(TABLE)
df.head()

/Users/jordicremades/Documents/repos/thoth/src/utils/query_engines.py:80: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(query_replaced, conn)

Open the following URL in browser for the external authentication:
https://starburst.g8s-data-platform-prod.glovoint.com/oauth2/token/initiate/58180771065f1152e668fb15c7379f175a4961eef7e20a0dd3ddf52e93051b16

,city_code,city_name,country_subregion,country_region,country_area,country_code,country_name,global_subregion,global_region,city_time_zone,...,delivery_fee_unit_opts,night_yield_pct,day_yield_pct,city_has_cash_enabled,is_eta_enabled,is_city_enabled,is_city_gen1,is_city_active,first_order_activated_at,city_polygons
0,0AD,FakeAndorra,None,None,None,AD,Andorra,IBERIA,WE,Europe/Madrid,...,"[50, 90]",10,10,False,True,True,None,False,NaT,"["""",""kmebGwa{Hsf@or@}d@srAqWhDjAflAyp@j_As@liC..."
1,0AM,Fake Armenia,None,None,None,AM,Armenia,None,None,Asia/Yerevan,...,"[50, 90]",10,10,True,True,True,None,None,2025-01-13 12:58:03+00:00,"["""",""ejktFwcqoG_AumPh{IkKqGdbP""]"
2,0BA,Fake Bosnia,None,None,None,BA,Bosnia and Herzegovina,SEE,SEE,Europe/Sarajevo,...,None,10,10,True,True,True,None,False,NaT,"["""",""{upjG_blnBjAyOlCoN~PaFhLpIhDz[yK`e@kMeEmL..."
3,0BG,FakeBG,None,None,None,BG,Bulgaria,SEE,SEE,Europe/Athens,...,"[50, 90]",10,5,True,True,True,None,False,2024-09-03 08:01:05+00:00,"["""",""}_wdGeeznCcv@yza@hrSwwEk[b{WwnBl~R""]"
4,0CI,Fake Ivory Coast,None,None,None,CI,Ivory Coast,SSA,AFRICA,Africa/Abidjan,...,"[50, 90]",0,0,True,True,True,None,True,2024-10-02 14:14:21+00:00,"["""",""qqu_@huvWag@qdCuwAjDy[c^u`AyYut@`G}h@pl@i..."